<div class="container mt-5">
    <div class="row">
        <div class="col-lg-6 offset-lg-3">
            <div class="card">
                <div class="card-body text-center">
                    <span class="titulo">CREAR USUARIO</span>
                    <form class="mt-3" [formGroup]="nombreForm" (ngSubmit)="agregarNombre()">
                        <div class="mb-3">
                            <input type="text" formControlName="nombre"
                                 class="form-control form-control-lg" placeholder="Nombres">
                            <div class="text-danger"
                                 *ngIf="nombreForm.get('nombre')?.hasError('required') && nombreForm.get('nombre')?.touched">
                                <span>El nombre del usuario</span> <strong>es obligatorio</strong>
                            </div>
                          </div>
                          <div class="mb-3">
                              <input type="text" formControlName="apellido"
                                 class="form-control form-control-lg" placeholder="Apellidos">
                            <div class="text-danger"
                                 *ngIf="nombreForm.get('apellido')?.hasError('required') && nombreForm.get('apellido')?.touched">
                                <span>El apellido del usuario</span> <strong>es obligatorio</strong>
                            </div>
                          </div>
                          <div class="mb-3">
                              <input type="text"formControlName="email"
                                 class="form-control form-control-lg" placeholder="Email">
                            <div class="text-danger"
                                 *ngIf="nombreForm.get('email')?.hasError('required') && nombreForm.get('email')?.touched">
                                <span>El email del usuario</span> <strong>es obligatorio</strong>
                            </div>
                          </div>
                          <div class="mb-3">
                              <input type="text" formControlName="puesto"
                                 class="form-control form-control-lg" placeholder="Puesto">
                            <div class="text-danger"
                                 *ngIf="nombreForm.get('puesto')?.hasError('required') && nombreForm.get('puesto')?.touched">
                                <span>El puesto del usuario</span> <strong>es obligatorio</strong>
                            </div>
                          </div>
                          <div class="mb-3">
                            <button routerLink="/" class="btn btn-secondary btn-lg float-start">VOLVER</button>
                            <button type="submit" [disabled]="nombreForm.invalid" class="btn btn-success btn-lg float-end">ACEPTAR</button>
                          </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
